<header class="header">

    <div class="container">
        <div class="header__inner">
            <div class="header__logo">Diets helper</div>

            <nav class="nav">
                {{#if isIndex}}
                    <a class="nav__link active" href="/">Home</a>
                {{else}}
                    <a class="nav__link" href="/">Home</a>
                {{/if}}
                <a class="nav__link" href="/diets">Diets</a>
                <a class="nav__link" href="#">Articles</a>
                <a class="nav__link" href="#">Opinions</a>

                {{#if isL}}
                    <a class="nav__link active">{{username}}</a>
                    <a class="nav__link" href="/logOut">Log out</a>
                {{else}}
                    {{#if isSignIn}}
                        <a class="nav__link active">Sign in</a>
                    {{else}}
                        <a class="nav__link" href="/login">Sign in</a>
                    {{/if}}

                    {{#if isSignUp}}
                        <a class="nav__link active" href="/signUp">Sign Up</a>
                    {{else}}
                        <a class="nav__link" href="/signUp">Sign up</a>
                    {{/if}}
                {{/if}}
            </nav>
        </div>
    </div>
    </div>
</header>